<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" routerLink="/">Company name</a>

  <span class="d-inline-flex"></span>
  <span class="d-inline-flex"></span>
  <div class="navbar-nav text-nowrap">
    <div class="nav-item first-item" *ngIf="user">
      <a class="nav-link px-3" routerLink="/profile"> {{ user.first_name }} {{ user.last_name }} </a>
    </div>
  </div>
  <div class="navbar-nav text-nowrap">

    <div class="nav-item">
      <a class="nav-link px-3" (click)="logout()" routerLink="/login">Sign out</a>
    </div>
  </div>
</header>
